/* Default colors */
:root {
  --primary-color: #f6f4f2;
  --secondary-color: #252423;
  --theme-color: #9b59b6;

  --transparent-black: rgba(37, 36, 35, 0.7);
  --transparent-white: rgba(246, 244, 242, 0.7);
  --transparent-primary: rgba(246, 244, 242, 0.7);
  --transparent-secondary: rgba(37, 36, 35, 0.7);
}
